.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}

.row-gap-24 {
  row-gap: 24px;
}

.fs-10px {
  font-size: 10px;
}

.fs-11px {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13px {
  font-size: 13px;
}

.fs-14px {
  font-size: 14px;
}

.fs-15px {
  font-size: 15px;
}

.fs-16px {
  font-size: 16px;
}

.fs-26px {
  font-size: 26px;
}

.fw-600 {
  font-weight: 600 !important;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.w-150px {
  width: 150px;
}

.main-bg-color {
  background-color: #2386c8;
}

.bg-light-gray {
  background: #f2f2f2;
}

.bg-gray-lighter {
  background-color: #f5f5f5;
}

.main-color {
  color: #2386c8;
}

.color-222 {
  color: #222;
}

.color-777 {
  color: #777;
}

.green-color {
  color: #3bc100;
}

.opacity-0_5 {
  opacity: 0.5;
}

.opacity-1 {
  opacity: 1;
}

@media print {
  .not-print {
    display: none !important;
  }
}
.btn-info {
  color: white;
  background-color: #1e75ae;
  border-color: #1c6ca1;
}

.btn-lg {
  border-radius: 2px;
  border-width: 0;
  padding: 20px 45px;
}

.btn-default {
  color: #575858;
  background-color: #f5f5f5;
  border-color: #bababa;
  transition: 0.2s all ease-in-out;
}

.btn-default:hover {
  background-color: rgb(233, 233, 233) !important;
}

.form-control {
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  background-color: #f7f9fc;
  background-image: none;
  border: 1px solid #aaafb9;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Noto Kufi Arabic", sans-serif;
  font-size: 14px;
  color: #888e99;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #337ab7;
}
a:hover {
  color: #185a87;
}

button {
  border: none;
  outline: none;
}

input:focus,
select:focus {
  outline: none;
}

input {
  direction: rtl !important;
}
input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

/* navbar css style */
/* header */
/* How it Work */
#navbarSupportedContent {
  justify-content: space-between;
}

.dropdown {
  margin-left: 13px;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-light .navbar-nav .nav-link.show {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-light .navbar-nav .nav-link {
  gap: 6px;
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.navbar-light .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
}

.custom-bars-icon {
  display: block;
  width: 22px;
  height: 2px;
  margin: 29px 18px;
  background-color: #efefef;
  box-shadow: 0 6px 0 0 #efefef, 0 -6px 0 0 #efefef;
}

.logo {
  width: 120px;
  margin: 0 13px;
}

.main-header h3 {
  line-height: 2em;
}
.main-header h4 {
  line-height: 2em;
}

h3 {
  font-size: 28px;
}

.h3 {
  font-size: 28px;
}

.link-nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease-in-out;
  min-width: 50px;
}
.link-nav:hover {
  background-color: #2cabe3;
}

.start-project {
  width: 200px;
  height: calc(100% - 14px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.form-control:focus {
  border: 0;
  outline: 0;
  box-shadow: none;
}

header {
  min-height: 100vh;
  padding-bottom: 60px;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/header-bg-1.png");
}

.search-project {
  height: 100%;
  border: 0 !important;
}

.search-field {
  height: 70px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.more-info {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.sections img {
  max-width: 80px;
  height: 84px !important;
}

.thumb img {
  max-width: 80px;
  height: 84px !important;
}

.list-with-icons p {
  margin: 15px auto 25px;
}

.why-item {
  text-align: center;
  margin: 25px 0px;
}
.why-item h5 {
  font-size: 16px;
}

section {
  padding: 20px;
}

.section-title h3 {
  margin: 20px auto 30px;
}

.faqs {
  padding: 30px 0 70px;
}

/* Footer =============================================*/
/* // Extra small devices (portrait phones, less than 576px) */
/* // Small devices (landscape phones, 576px and up) */
/* // Medium devices (tablets, 768px and up) */
/* // Large devices (desktops, 992px and up) */
/* // Extra large devices (large desktops, 1200px and up) */
.icon-f {
  width: 43px;
  height: 32px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.twit {
  background-color: #55acee;
}

.face {
  background-color: #3b5998;
}

.linkedin {
  background-color: #0077b5;
}

.footer-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.84;
  font-weight: 500;
}

footer li {
  line-height: 2;
}
footer small {
  font-size: 85%;
}
footer .pdn--vl {
  padding-top: 28px;
  padding-bottom: 28px;
}

.pdn--vm {
  padding-top: 21px;
  padding-bottom: 21px;
}

.copy-mo {
  text-align: left;
}

.pay-method {
  font-size: 32px;
  color: rgb(100, 100, 100);
}

@media (max-width: 575.98px) {
  .list-with-icons {
    order: 2;
  }
  .btn-default {
    margin-top: 12px;
  }
  .section-title h3 {
    font-size: 24px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .btn-default {
    margin-top: 12px;
  }
  .last-footer {
    text-align: center;
  }
  .copy-mo {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .last-footer {
    text-align: center;
  }
  .copy-mo {
    text-align: center;
  }
  .mobile-login {
    margin-right: auto;
  }
  .navbar > .container-fluid {
    justify-content: start;
  }
  .logo-wp {
    display: none;
  }
  .search-project {
    display: none !important;
  }
  .search-field {
    background-color: transparent;
    text-align: center;
    display: block;
    height: 60px;
    overflow: visible;
  }
  .start-project {
    margin: auto;
  }
  .logo-mobile {
    width: 40px;
  }
}
@media (min-width: 768px) {
  .mobile-login {
    display: none;
  }
  .logo-mobile {
    display: none;
  }
}
/* Start Login Page *********************************************************************************/
/* Register page ********************************************************************/
/* Projects *****************************************************************************/
/* Projects */
/* Create page project *************************************************************************/
/* Main Profile Page *************************************************************************/
/* Profile page *******************************************************/
.sans {
  font-family: sans-serif;
}

.site-menu-item-link--is-button {
  margin: 9px 0 9px 18px;
  border: solid 1px rgba(239, 239, 239, 0.5);
  font-size: 14px;
  padding: 10px 9px;
}
.site-menu-item-link--is-button:hover {
  color: #fff !important;
  background-color: #2cabe3;
}

.is-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding-top: 70px;
  background-color: #eceff4;
}

.main {
  background-color: #fff;
}

h2 {
  font-size: 20px;
  font-size: 20px;
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.84;
}

.provider--google {
  color: #fff;
  background-color: #dd4b39;
}

.provider--office365 {
  color: #fff;
  background-color: #0f4bac;
  margin-top: 10px;
}

.fa-2x {
  font-size: 2em;
  font-size: 2em;
}

.provider span {
  margin: 0 5px;
}

.main-spacer {
  font-size: 14px;
}

.login-icon-2 {
  font-size: 27px;
}

.so-pad {
  padding: 12px;
  margin-bottom: 20px;
}
.so-pad span {
  margin: 0 10px;
}

.container--small {
  max-width: 768px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: #000;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: "";
  background: linear-gradient(90deg, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: #000;
  padding: 0 0.5em;
  line-height: 1.5em;
  background-color: #fff;
}

.form-control {
  padding: 9px 10px;
  display: block;
  font-size: 14px;
  line-height: 1.42857;
  color: #888e99;
  border: 1px solid #ccc;
  background-color: #fff;
}

output {
  display: block;
  font-size: 14px;
  line-height: 1.42857;
  color: #888e99;
}

.checkbox label {
  font-weight: 400;
  font-size: 14px;
}

label {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
  display: inline-block;
  color: rgb(95, 95, 95);
  font-family: "NotoKufiArabic";
  font-size: 14px;
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

form input:focus {
  border: 1px solid #ddd;
}
form input:active {
  border: 1px solid #ddd;
}
form .form-control:focus {
  border: 1px solid #ddd;
}

.btn-primary {
  color: #fff;
  background-color: #2caae2;
  border-color: #2caae2;
}

.enter {
  padding: 8px 15px;
}

.c-lab {
  color: rgb(95, 95, 95);
}

.container-form {
  background-color: #f7f9fc;
  padding: 40px 30px;
}

.star-required {
  color: rgba(255, 0, 0, 0.589);
  font-size: 10px;
}

input::-moz-placeholder {
  color: rgb(180, 180, 180) !important;
}

input::placeholder {
  color: rgb(180, 180, 180) !important;
}

.my-bg {
  background-color: #f0f0f0;
}

.heada__page_title {
  border: 0px !important;
  padding: 1px !important;
  padding: 7px;
  border: 0 solid #eaeaea;
  border-bottom-width: 1px;
}
.heada__page_title .heada__title {
  padding: 7px 14px;
}

.heada__title {
  color: rgb(34, 34, 34);
  margin: 0;
  padding: 7px;
}

.dropdown-toggle::after {
  display: none;
}

.table thead {
  font-family: "NotoKufiArabic";
  font-size: 14px;
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.collection-browse--table thead {
  font-family: "NotoKufiArabic";
  font-size: 14px;
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.collection-browse--table .info-td {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.collection-browse--table .collection__meta-list {
  padding-right: 0;
  list-style: none;
}
.collection-browse--table .collection__meta-list > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.nav {
  font-family: "NotoKufiArabic";
  font-size: 14px;
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.btn {
  font-family: "NotoKufiArabic";
  font-size: 14px;
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.dropdown-menu {
  font-family: "NotoKufiArabic";
  font-size: 14px;
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.dropdown-menu > li > a {
  padding: 5px 14px;
  transition-duration: 0.1s;
  font-weight: normal;
  line-height: 1.42857;
  color: #314459;
  white-space: nowrap;
  clear: both;
  display: block;
}
.dropdown-menu > li > a:hover {
  text-decoration: none;
  color: #eff2f3;
  background-color: #1e75ae;
}
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #eff2f3;
  background-color: #1e75ae;
}

.text-meta {
  font-family: "NotoKufiArabic";
  font-size: 14px;
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.dropzone--box-message {
  font-family: "NotoKufiArabic";
  font-size: 14px;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.dropzone--box-message:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.voicemessage--box-message {
  font-family: "NotoKufiArabic";
  font-size: 14px;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.voicemessage--box-message:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

button {
  font-family: "NotoKufiArabic";
  font-size: 14px;
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

select {
  font-family: "NotoKufiArabic";
  font-size: 14px;
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#filter-sidebar input[type=text] {
  background-color: #fafafa !important;
}
#filter-sidebar input[type=radio] {
  background-color: #fafafa !important;
}
#filter-sidebar input[type=checkbox] {
  background-color: #fafafa !important;
}
#filter-sidebar .selectize-control.single .selectize-input.input-active {
  background-color: #fafafa !important;
}
#filter-sidebar .selectize-input {
  background-color: #fafafa !important;
}
#filter-sidebar label {
  margin-bottom: 15px !important;
}

.parent {
  color: #333333;
}
.parent label {
  color: #333333;
}

.btn-link {
  color: #2386c8;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}

.mb--4 {
  margin-top: -4px !important;
}

.selectize-input {
  padding: 2px 12px 2px 21px;
  min-height: 34px;
  padding: 2px 12px 2px 21px;
  min-height: 34px;
}
.selectize-input > input {
  display: inline-block !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 2px 0 0 !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: 1.85 !important;
  -webkit-user-select: auto !important;
  box-shadow: none;
}

.pdn--vt {
  padding-top: 7px;
  padding-bottom: 7px;
}

.action--button-header {
  padding-top: 7px;
  padding-bottom: 7px;
}

.pdn--hs {
  padding-left: 14px;
  padding-right: 14px;
}

.js .js-hide {
  display: none !important;
}

.ui-slider .ui-slider-handle {
  border: 1px solid #2e3e50 !important;
  border-radius: 50px;
  background: #314459 !important;
  position: absolute;
  width: 20px;
  height: 20px;
}

.ui-widget-header {
  background-color: #2386c8 !important;
}

.ui-slider-horizontal {
  height: 10px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -6px;
}

.uavatar--56 {
  width: 56px;
  height: 56px;
}

.uavatar {
  max-width: none;
  overflow: hidden;
  max-width: none;
  overflow: hidden;
}

.media-object {
  display: block;
}

.img-circle {
  border-radius: 50%;
  border-radius: 50%;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 100% \9 ;
  max-width: 100%;
  height: auto;
}

.project__meta.list-meta-items li {
  font-size: 12px !important;
}

.list-meta-items {
  margin-right: 0;
  margin-bottom: 0;
  vertical-align: top;
  padding-right: 0;
  list-style: none;
}
.list-meta-items > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

tr {
  border-bottom: 1px solid #ddd;
}
tr td {
  vertical-align: middle !important;
  border: 0 !important;
}

table {
  background-color: #fff;
}

.img-cir {
  border-radius: 50% !important;
}

.btn.btn-sm {
  font-size: 12px !important;
}

.btn-group-sm > .btn {
  font-size: 12px !important;
}

.page-link {
  position: relative;
  display: block;
  padding: 12px 15px 7px;
  font-size: 12px;
}

.pagination {
  justify-content: center;
}

.video-how {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 200px;
}

.modal-content iframe {
  min-height: 400px;
}

.copy {
  color: #314459;
}

.user-main-profile {
  border-radius: 50%;
  width: 84px;
  height: 84px;
}

h4 {
  font-size: 18px;
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.84;
}

.text-mega {
  font-size: 52px;
}

.uavatar--84 {
  width: 84px;
  height: 84px;
}

.mrg--vt {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.pdn--as {
  padding: 14px;
  padding: 14px;
}

h1 {
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.84;
}

h3 {
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.84;
}

h5 {
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.84;
}

h6 {
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.84;
}

.home-page h4 {
  font-size: 18px;
}
.home-page .h4 {
  font-size: 18px;
}
.home-page a {
  color: #2386c8;
}
.home-page .clr-gray-dark {
  color: #575858;
}
.home-page h5 {
  font-size: 14px;
}

.clr-greenflat {
  color: #1abc9c;
}

.clr-gray-dark {
  color: #575858;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
}
.panel > .list-group .list-group-item {
  border-width: 1px 0;
}
.panel > .list-group .dropzone--box-message {
  border-width: 1px 0;
}
.panel > .list-group .voicemessage--box-message {
  border-width: 1px 0;
}
.panel > .list-group .menu-list-group a {
  border-width: 1px 0;
}

.text-alpha {
  font-size: 36px;
}

.clr-bluewood {
  color: #314459;
}

.clr-prj-completed {
  color: #314459;
}

.panel-footer {
  padding: 10px 15px;
  border-top: 1px solid #ddd;
}

.heada {
  padding: 7px;
  border: 0 solid #eaeaea;
  border-bottom-width: 1px;
}

.brd--b {
  border: 0 solid #eaeaea;
  border-bottom-width: 1px;
}

.heada__subtitle {
  margin: 0;
  padding: 7px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.menu-list-group a {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.menu-list-group a:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.menu-list-group .panel > .list-group a {
  border-width: 1px 0;
}
.menu-list-group a.active {
  z-index: 2;
  color: #fff;
  background-color: #2386c8;
  border-color: #2386c8;
}
.menu-list-group a.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #2386c8;
  border-color: #2386c8;
}
.menu-list-group a.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #2386c8;
  border-color: #2386c8;
}

.meta-kufi {
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-kufi {
  font-family: "NotoKufiArabic", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-zeta {
  font-size: 13px;
}

a:hover {
  color: #185a87;
}
a:focus {
  color: #185a87;
}

.brd--e {
  border: 0 solid #eaeaea;
}

.text-zeta12 {
  font-size: 12px;
}

.mrg--ts {
  margin-top: 14px;
}

.dsp--b {
  display: block;
}

.progress--slim {
  box-shadow: none;
  height: 8px;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.progress--slim .progress-bar {
  box-shadow: none;
}

.progress {
  overflow: hidden;
  margin-bottom: 20px;
}

.bg-orangepunch {
  background-color: #da3623;
}

.label-rating-poor {
  background-color: #da3623;
}

.label-prj-canceled {
  background-color: #da3623;
}

.label-prj-declined {
  background-color: #da3623;
}

.label-prj-lost {
  background-color: #da3623;
}

.label-video-declined {
  background-color: #da3623;
}

.list-unstyled {
  padding-right: 0;
  list-style: none;
}

.list-inline {
  padding-right: 0;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.list-meta {
  padding-right: 0;
  list-style: none;
}
.list-meta > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.list-tags {
  padding-right: 0;
  list-style: none;
}
.list-tags > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.list-grid {
  padding-right: 0;
  list-style: none;
}
.list-grid > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.list-counters {
  padding-right: 0;
  list-style: none;
}
.list-counters > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.list-links {
  padding-right: 0;
  list-style: none;
}

.pdn--am {
  padding: 21px;
}

.carda__body_profile {
  padding: 21px;
}

.form--container {
  padding: 21px;
}

.selectize-input.full {
  background-color: #fff;
}

.selectize-control.single .selectize-input {
  cursor: pointer;
}
.selectize-control.single .selectize-input input {
  cursor: pointer;
}

.electize-input {
  border: 1px solid #ccc;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #2386c8;
  border-color: #2386c8;
}
.list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #2386c8;
  border-color: #2386c8;
}
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #2386c8;
  border-color: #2386c8;
}

.active.dropzone--box-message {
  z-index: 2;
  color: #fff;
  background-color: #2386c8;
  border-color: #2386c8;
}
.active.dropzone--box-message:hover {
  z-index: 2;
  color: #fff;
  background-color: #2386c8;
  border-color: #2386c8;
}
.active.dropzone--box-message:focus {
  z-index: 2;
  color: #fff;
  background-color: #2386c8;
  border-color: #2386c8;
}

.active.voicemessage--box-message {
  z-index: 2;
  color: #fff;
  background-color: #2386c8;
  border-color: #2386c8;
}
.active.voicemessage--box-message:hover {
  z-index: 2;
  color: #fff;
  background-color: #2386c8;
  border-color: #2386c8;
}
.active.voicemessage--box-message:focus {
  z-index: 2;
  color: #fff;
  background-color: #2386c8;
  border-color: #2386c8;
}

@media (max-width: 575px) {
  .main-spacer-wide {
    padding: 15px;
  }
}
@media (min-width: 576px) {
  .main-spacer-wide {
    padding: 30px;
  }
  .modal-dialog {
    max-width: 898px;
    margin: 1.75rem auto;
  }
}
@media (min-width: 768px) {
  .main-spacer-wide {
    padding: 70px;
  }
}
@media (max-width: 480px) {
  .projects-table .info-td {
    padding: 1.5em 1em;
  }
}
@media (max-width: 575.98px) {
  .my-bg {
    padding: 0;
  }
  .parent-s {
    padding: 0 !important;
  }
  .actions-td {
    display: none;
  }
  .mobile-ind {
    padding: 0 !important;
  }
}
@media (max-width: 767.98px) {
  .hidden-in-md {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .mobile-ind {
    padding: 0 !important;
  }
}/*# sourceMappingURL=main.css.map */