.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}

.row-gap-24 {
  row-gap: 24px;
}

.fs-10px {
  font-size: 10px;
}

.fs-11px {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13px {
  font-size: 13px;
}

.fs-14px {
  font-size: 14px;
}

.fs-15px {
  font-size: 15px;
}

.fs-16px {
  font-size: 16px;
}

.fs-26px {
  font-size: 26px;
}

.fw-600 {
  font-weight: 600 !important;
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.w-150px {
  width: 150px;
}

.main-color {
  color: $main-color;
}
.color-222 {
  color: #6a6969;
}
.color-777 {
  color: #777;
}
.green-color {
  color: #3bc100;
}
.border-b {
  border-bottom: 1px solid #e7e5e5;
}
.gold-star {
  color: #fa9747;
}
.opacity-0_5 {
  opacity: .5;
}
.opacity-1 {
  opacity: 1;
}

// Media Print
@media print {
  .not-print {
    display: none !important;
  }
}
