$main-color:#2386c8;
$alt-color:#0ABAB5;
$light-mian-color:#D8EDEF;
$light-mian-color2:#E4F7F7;
$light-grey-color:#CFE1E3;
$grey-color:#f5f5f5;
$white-color: #fff;
$light-gray: #AFB1B6;
$main-text-color:#888e99;
$black-color: #000;
$color-50:#4D545A;
$yellow-color:#fcd531;
$pink-color: #f71d5b;
$light-pink-color: #FFE4E4;
$light-text: #8f8f8f;
$link-color:#337ab7;
$link-color-h:#185a87;
$gray-text: #a9a8a8;
$main-border: #e9e9e9;
$trouble-d: #ddd;
$text-dark-light: #6b7280;
$light-greey: #f9fafb;
$section-color:#f0f0f0;