* {
  @include reset-all;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: 'Noto Kufi Arabic', sans-serif;
  font-size: 14px;
  color: $main-text-color;
}

ul {
  @include reset-ul;
}
a {
  @include a-reset;
}

// reset btn
button {
  border: none;
  outline: none;
}
// Reset Input
input:focus,
select:focus {
  outline: none;
}
input {
  direction: rtl !important;
  &:focus::placeholder {
    opacity: 0;
    transition: $sm-transition;
  }
}

.section-content {
  min-height: calc(100vh - 61px - 347.22px);
}
.section-bg-gray {
  background-color: $section-color;
}
.main-bg-color {
  background-color: $main-color;
}
.bg-light-gray {
  background: #f2f2f2;
}
.bg-gray-lighter {
  background-color: #f5f5f5;
}
